<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item active" href="#">Dashboard</a>
        <a class="list-group-item" href="#">My Orders</a>
        <a class="list-group-item" href="#">Edit Profile</a>
        <a class="list-group-item" href="#">Change Password</a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>